@using CyclePro.Data

@{
    var count = 1;
}

<section class="row">
    <h2 class="header-title">Raw Data View</h2>
    <table>
        <tr>
            <td></td>
            <td>Heart Rate</td>

            @if (Hrm.PrimaryHrm.Features.Speed)
            {
                <td>Speed</td>
            }
            @if (Hrm.PrimaryHrm.Features.Cadence)
            {
                <td>Cadence</td>
            }
            @if (Hrm.PrimaryHrm.Features.Altitude)
            {
                <td>Altitude</td>
            }

            @if (Hrm.PrimaryHrm.Features.Power)
            {
                <td>Power</td>
                <td>Pressure</td>
            }

            <td>Distance</td>
            <td>Total Distance</td>
            <td>Date Time</td>
            <td></td>
        </tr>

        
            @foreach (var i in Hrm.PrimaryHrm.Data)
            {
                <tr>
                    <td><b>@count</b></td>
                    <td>@i.Hr</td>

                    @if (Hrm.PrimaryHrm.Features.Speed)
                    {
                        <td>@Math.Round(i.Speed, 2)</td>
                    }

                    @if (Hrm.PrimaryHrm.Features.Cadence)
                    {
                        <td>@i.Cadence</td>
                    }

                    @if (Hrm.PrimaryHrm.Features.Altitude)
                    {
                        <td>@Math.Round(i.Altitude, 2)</td>
                    }

                    @if (Hrm.PrimaryHrm.Features.Power)
                    {
                        <td>@i.Power</td>
                        <td>@i.Pressure</td>
                    }

                    <td>@Math.Round(i.Distance,2)</td>
                    <td>@Math.Round(i.TotalDistance,2)</td>
                    <td>@i.DateTime</td>
                    <td></td>
                </tr>
                {
                    count++;
                }
            }
    </table>

</section>